<section id="slider" class="slider-parallax swiper_wrapper clearfix" style="height: 550px;" data-loop="true">
    <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">
            {% for slide in sliders %}
                <div class="swiper-slide" style="background-image: url('{{ asset(slide.assertPath|imagine_filter('my_thumb_banner')) }}'); background-position: center top;">
                    <div class="container clearfix">
                        <div class="slider-caption">
                            <h2>{{ slide.title }}</h2>
                            <p>{{ slide.content }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
        <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
    </div>
</section>
