<div class="top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="top__left">{{ 'Nous construisons les plans et les maisons du futur' }}</div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="top__right">
                    <ul id="menu-top-menu" class="navigation--top">
                        <li><a href="">{{ 'besoins d\'aide'|capitalize }}</a></li>
                        <li><a href="">{{ 'FAQ' }}</a></li>
                        <li><a target="_blank" href="">{{ 'Touslesjours.com' }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
